<footer class="my-4">

  <div class="row">

    <div class="col-lg-12 text-center mt-4">
      <p>
        <a href="https://forms.gle/uwNDjgGxwrn2QjnLA" target="_blank">BOSS Application</a>
        &nbsp; &nbsp;
        <a href="mailto:info@newco.foundation">📩 Contact Us</a>
        &nbsp; &nbsp;
        <a href="/press">Press</a>
        &nbsp; &nbsp;
        <a href="/champions">Champions</a>
      </p>
    </div>

    <div class="col-lg-12 text-center">
      <small>
        Copyright &copy; 2017-
        <script type="text/javascript">document.write(new Date().getFullYear());</script>, NewCo Foundation – a 501(c)(3) non profit corporation – All
        Rights
        Reserved
      </small>
    </div>
    
  </div>

</footer>
