<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/img/newco-foundation.png" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#our-programs">Our Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#supported-programs">Supported Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#partners">Partners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/press">Press</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:info@newco.foundation">Contact</a>
      </li>
    </ul>
  </div>
</nav>