<section class="row mt-4">

  <div class="col-lg-12 my-3">
    <h2 class="text-center display-4">
      <a name="our-programs">Our Programs</a>
    </h2>
  </div>

  <!-- Item Cards -->

  <div class="card col-lg-4 col-md-6 col-sm-12 px-1">
    <a href="https://www.rcmakes.com/" target="_blank">
      <img class="card-img-top" src="img/rcmakes-960x480.png" alt="Card image cap">
    </a>
    <div class="card-body px-2">
      <p class="card-text">RCMakes is a school-based, student-operated non-profit corporation at Rancho
        Campana High School. RCMakes produces goods and services, provides internships and student
        employment, awards earned academic scholarships, and incubates startup businesses.
      </p>
      <p class="card-text">
        RCMakes operates a community makerspace and job shop, conducts after-school and summer learning
        workshops, provides coding mentors to instructors, produces professional videos, does software
        development and hosts special events.
      </p>
    </div>
  </div>

  <div class="card col-lg-4 col-md-6 col-sm-12 px-1">
    <a href="https://www.newcoding.org/" target="_blank">
      <img class="card-img-top" src="img/newcoding-bootcamp-logo-960x480.png" alt="Card image cap">
    </a>
    <div class="card-body px-2">
      <p class="card-text">NewCoding provides free blended online / in-person beginner coding programs for
        Ventura
        County students.
      </p>
      <p class="card-text">
        Curriculum and best-practices are derived directly from professional coding bootcamps with software
        engineers and student
        interns as mentors. In-person classes are once weekly at Rancho Campana High School in Camarillo.
      </p>
    </div>
  </div>

  <div class="card col-lg-4 col-md-6 col-sm-12 px-1">
    <img class="card-img-top" src="img/newco-seed-fund-960x480.png" alt="Card image cap">
    <div class="card-body px-2">
      <p class="card-text">NewCo Seed Fund is the evergreen investment arm of the foundation making Program
        Related
        Investments (PRIs) in Ventura County startups that support the mission of the foundation by
        employing
        student interns and promoting early career development.
      </p>
      <p class="card-text">Portfolio companies are vetted and managed through a proven venture capital
        process.
      </p>
    </div>
  </div>

</section>