<section class="row mt-4">

  <div class="col-lg-12 my-3">
    <h2 class="text-center display-5">
      <a name="supported-programs">Supported Programs</a>
    </h2>
  </div>

  <!-- Item Cards -->

  <div class="col-lg-12 col-md-12 col-sm-12 px-1">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4">
        <a href="https://www.rcmakes.com/" target="_blank">
          <img class="card-img-top" src="\img\rcmakes-wordmark1.png" alt="Card image cap">
        </a>
      </div>
    </div>
    <div class="card-body px-2">
      <p class="card-text">RCMakes is a school-based, student-operated non-profit corporation at Rancho
        Campana High School. RCMakes produces goods and services, provides internships and student
        employment, awards earned academic scholarships, and incubates startup businesses.
      </p>
      <p class="card-text">
        RCMakes operates a community makerspace and job shop, conducts after-school and summer learning
        workshops, provides coding mentors to instructors, produces professional videos, does software
        development and hosts special events.
      </p>
    </div>
  </div>

</section>
