<section class="row mb-3">

  <div class="col-lg-12 mt-3 mb-4">
    <h2 class="text-center display-5">
      <a name="supported-programs">Supported Programs</a>
    </h2>
  </div>
  
  <!-- Item Cards -->

  <div class="row d-flex justify-content-center  mx-auto">
    <div class="col-lg-2 mt-2 col-sm-6 col-6 d-flex align-self-center">  
      <a href="https://www.rcmakes.com/" target="_blank">
        <img class="card-img-top" src="\img\Picture2.png" alt="Card image cap">
      </a>
    </div>
  
    <div class="col-lg-2 mt-2 col-sm-6 col-6 d-flex align-self-center">
      <a href="https://www.dtechinc.org/" target="_blank">
        <img class="card-img-top" src="img/dtech.png" alt="Card image cap">
      </a>
    </div>
  </div>
  <div class="row d-flex justify-content-center  mx-auto">
    <div class="col-lg-2 col-sm-6 mt-2 col-6">
      <a href="https://www.hackathonbythesea.com/" target="_blank">
        <img class="card-img-top" src="img/hackathon-by-the-sea.png" alt="Card image cap">
      </a>
    </div>

    <div class="col-lg-2 col-sm-6  mt-2 col-6">
      <a href="https://www.vcoe.org/cec" target="_blank">
        <img class="card-img-top p-3" src="img/career-education-center.png" alt="Card image cap">
      </a>
    </div>

    <div class="col-lg-2 col-sm-6 mt-2 col-6">
      <a href="https://www.ranchocampanahigh.us/" target="_blank">
        <img class="card-img-top" src="img/rchs-icon.png" alt="Card image cap">
      </a>
    </div>

    <div class="col-lg-2 mt-2 col-sm-6  col-6">
      <a href="https://www.callutheran.edu/centers/entrepreneurship/" target="_blank">
        <img class="card-img-top" src="img/cal-lu-center-for-entrepreneurship.png" alt="Card image cap">
      </a>
    </div>
    <div class="col-lg-2 mt-2 col-sm-6 col-6">
      <a href="https://www.meetup.com/805-Tech-Mentor-Network/" target="_blank">
        <img class="card-img-top" src="img/805-mentor-network.png" alt="Card image cap">
        <a>
    </div>
    <div class="col-lg-2 mt-2 col-sm-6 col-6">
      <a href="https://www.bgccam.org/" target="_blank">
        <img class="card-img-top" src="img/boys-and-girls-club.jpg" alt="Card image cap">
      <a>
    </div>
    <div class="col-lg-2 mt-2 col-sm-6 col-6 d-flex align-self-center">
      <a href="http://camarillolibrary.org/" target="_blank">
        <img class="card-img-top" src="img/camarillo-library.png" alt="Card image cap">
      <a>
    </div>
    <div class="col-lg-2 mt-2 col-sm-6 col-6 d-flex align-self-center">
      <a href="http://www.miracleleague805.org/" target="_blank">
        <img class="card-img-top" src="img/805-logo.jpg" alt="Card image cap">
      <a>
    </div>
    <div class="col-lg-2 mt-2 col-sm-6 col-6 d-flex align-self-center">
      <a href="https://www.csuci.edu/" target="_blank">
        <img class="card-img-top" src="img/csu.jpg" alt="Card image cap">
      <a>
    </div>
  </div>
</section>
