<section class="row">

  <div class="col-lg-12 mt-3 mb-4">
    <h2 class="text-center display-4">
      <a name="supported-programs">Supported Programs</a>
    </h2>
  </div>
  
  <!-- Image Cards -->
  <div class="card col-lg-2 col-md-3 col-sm-4 col-6">
    <a href="https://www.hackathonbythesea.com/" target="_blank">
      <img class="card-img-top" src="img/hackathon-by-the-sea.png" alt="Card image cap">
    </a>
  </div>

  <div class="card col-lg-2 col-md-3 col-sm-4 col-6">
    <a href="https://www.hackathonbythesea.com/girls-edition" target="_blank">
      <img class="card-img-top p-3" src="img/hackathon-by-the-sea-girls-edition.png" alt="Card image cap">
    </a>
  </div>

  <div class="card col-lg-2 col-md-3 col-sm-4 col-6">
    <a href="https://www.ranchocampanahigh.us/" target="_blank">
      <img class="card-img-top" src="img/rchs-icon.png" alt="Card image cap">
    </a>
  </div>

  <div class="card col-lg-2 col-md-3 col-sm-4 col-6">
    <a href="https://www.callutheran.edu/centers/entrepreneurship/programs/nvf-2018.html" target="_blank">
      <img class="card-img-top" src="img/nvf-sm.png" alt="Card image cap">
    </a>
  </div>

  <div class="card col-lg-2 col-md-3 col-sm-4 col-6">
    <a href="https://www.callutheran.edu/centers/entrepreneurship/" target="_blank">
      <img class="card-img-top" src="img/center-for-entrepreneurship.png" alt="Card image cap">
    </a>
  </div>

  <div class="card col-lg-2 col-md-3 col-sm-4 col-6">
    <a href="http://www.aspire3.com/nvvc/" target="_blank">
      <img class="card-img-top" src="img/new-venture-ventura-county.png" alt="Card image cap">
      <a>
  </div>

</section>