{{ define "main" }}
<div class="row">
    <div class="col-lg-12 mt-3 mb-4">
        <h2 class="text-center display-5">
            NewCo Champions
        </h2>
    </div>
</div>

<style>
    .container-text {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
    }

    .champion-text {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(168, 171, 181, 0.5);
        /* Black background with opacity */
        color: #ffffff;
        width: 100%;
        padding: 10px;
    }
</style>
<div class="row d-flex justify-content-center">
    {{ range (.Pages.ByParam "order") }}
    <div class="col-lg-3">
        <div class="pb-3">
            <div class="card">
                <div class="container-text">
                    <img class="card-img-top" style="vertical-align: middle;" src="/img/champions/{{ .Params.image }}"
                        alt="{{ .Params.alt }}">
                    <div>
                        <h4 class="champion-text text-center pt-1">{{ .Title }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}


</div>





{{ end }}